<%= render "navbar" %>

<div class="container">
    <br><br><br>
    <h1>Request List</h1>
    <hr>
    
    <% cnt = 0 %>
    <% @posts.each do |post| %>
    <% cnt = cnt +1 %>

    <% if post.status == 0 %>
    <div class="notice">
        
    <% elsif post.status == 1 %>
    <div class="notice notice-success">
        
    <% elsif post.status == 2 %>
    <div class="notice notice-warning">
    <% end %>

        <strong># <%= cnt %></strong><br>
        
        <% unless post.user_id.nil? %>
            Student : 
                <% if post.user_id == @users[cnt-1].id %>
                <%= @users[cnt-1].name %><br>
                <% end %>
            
        <% else %>
            Admin<br>
        <% end %>
        
        Date : <%=post.date.to_s.split(" ").first%><br>
        Start Time : <%=post.starttime%><br>
        End Time : <%=post.endtime%><br>
        Classroom : <%=post.classroom%><br>
        Number of people : <%=post.people%><br>
        Content : <%=post.content%><br>
        
        <div style="text-align:right;">
          <%if post.status == 0%>
          <span class="badge badge-secondary">Wait</span>
          <%elsif post.status == 1%>
          <span class="badge badge-success">Accepted</span>
          <%elsif post.status == 2%>
          <span class="badge badge-warning">Denied</span>
          <%end%>
            <div><%= post.created_at.to_s.split("+").first %>, <%= time_ago_in_words(post.created_at) %> ago</div>
            
            <a href="/schedule_accept/<%=post.id%>">
                <span class="badge badge-primary">Accept</span>
            </a>
            <a href="/schedule_reject/<%=post.id%>">
                <span class="badge badge-danger">Reject</span>
            </a>
        </div>
    </div>
    <%end%>
    
    <a href='/admin_index'><button class="btn btn-primary">Back to main</button></a><br>
    <br>
</div>

<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">2018 Software Design Project</p>
  </div>
</footer>


<style>
 .notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
</style>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
