<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin_index</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    
    <style>

        
body {
  padding-top: 54px;
}

a:hover { 
  color: #da2127;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

    </style>



  </head>
  
  <!--관리자의 관리 메인 화면-->
  <body id="page-top">
      
      <div id="wrapper">
      <%= render "navbar" %>

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <h3>Monthly Schedule</h3><hr>
          <!--달력으로 보여주는 예약 현황-->
          <!--accept된 Post의 date 정보를 달력에 표시-->
          <%= month_calendar events: @date do |date, datetime| %>
            <%= date.day %>
          
            <% datetime.each do |d| %>
              <div>
                <% if d.status == 1 %>
                  <%= d.classroom %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
        <h3>Reservation Status</h3>
        <!--상태별(accept, reject, wait) Post의 개수를 보여주는 실시간 도넛 차트-->
        <hr>
          <% data = [['Accepted',     @accept_post],
          ['Rejected',      @reject_post],
          ['Waiting',  @wait_post]] %>
          

          <%= pie_chart data, library: { pieSliceText: 'value' }, donut: true %>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
      <h3>Menu</h3><hr>
            <div class = "row">
              <div class="col-sm">
                <ul class="d_width">
                   <li style="width:250px; height:250px; border: 3px; background-color: #da2127; padding:15px; text-align:center">
                      <a href="/admin_list" class="fas fa-list-ol fa-9x"  style = "margin-top: 30px; color: white">
                        <!--예약 관리(승인, 거절)하기-->
                         <p><span style="color: #ffffff; font-family:Nanum Gothic Coding; font-size: 120%;">Reservation Manage</span></p>
                      </a>
                   </li>
               </div>
            <div class="col-sm">
               <li style="width:250px; height:250px; border: 3px; background-color: #da2127;　padding:15px; text-align:center">
                  <a href="/report_list" class="fas fa-bullhorn fa-9x" style = "margin-top: 40px; color: white">
                  <!--신고 및 건의사항 보기-->
                     <p><span style="color: #ffffff; font-family:Nanum Gothic Coding; font-size: 120%">View Report</span></p>
                  </a>
               </li>
            </div>
            <div class="col-sm">
               <li style="width:250px; height:250px; border: 3px; background-color: #da2127;　padding:15px; text-align:center">
                  <a href="/schedule_new" class="fas fa-calendar-check fa-9x" style = "margin-top: 40px; color: white">
                    <!--관리자가 직접 스케줄 입력하기-->
                     <p><span style="color: #ffffff; font-family:Nanum Gothic Coding; font-size: 120%">Department Events</span></p>
                  </a>
               </li>
            </div>
            <div class="col-sm">
               <li style="width:250px; height:250px; border: 3px; background-color: #da2127;　padding:15px; text-align:center">
                  <a href="black_index" class="fas fa-list-alt fa-9x" style = "margin-top: 40px; color: white">
                    <!--사용자 블랙 리스트 관리하기-->
                     <p><span style="color: #ffffff; font-family:Nanum Gothic Coding; font-size: 120%">BlackList Manage</span></p>
                  </a>
               </li>
            </div>
            <div class="clear"></div>

    </div>
    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">2018 Software Design</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  </body>

</html>
