<%= render "navbar" %>

<div class="container">
    <br><br><br>
    <h1>Blacklist</h1>
    <hr>

    <% cnt = 0 %>
    <% @users.each do |u| %>
    <% cnt = cnt +1 %>
    <div class="notice notice-lg">
        <strong># <%= cnt %></strong><br>
        Student id : <%=u.student_id%><br>
        Name : <%=u.name%><br>

        <div style="text-align:right;">
          <%if u.is_black == 0%>
          <span class="badge badge-success">0 out</span>
          <%elsif u.is_black == 1%>
          <span class="badge badge-secondary">1 out</span>
          <%elsif u.is_black == 2%>
          <span class="badge badge-warning">2 out</span>
          <%end%>
            
            <a href="/black_create/<%=u.id%>">
                <span class="badge badge-primary">Warning</span>
            </a>
            <a href="/black_destroy/<%=u.id%>">
                <span class="badge badge-danger">Off Warning</span>
            </a>
        </div>
    </div>
    <%end%>
    
    <a href='/admin_index'><button class="btn btn-primary">Back to main</button></a><br>
    <br>
</div>

<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">2018 Software Design Project</p>
  </div>
</footer>


<style>
 .notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
</style>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
