<div class="container">
    
    <% @posts.each do |post|%>
        Classroom : <%=post.classroom%><br>
        Time : <%=post.time%><br>
        
        <div style="text-align:right;">
            <div><%= post.created_at.to_s.split("+").first %>, <%= time_ago_in_words(post.created_at) %> ago</div>
        
            <a href="/modify/<%=post.id %>">
                <span class="badge badge-dark">수정</span>
            </a>
            <a href="/delete/<%=post.id %>">
                <span class="badge badge-danger">삭제</span>
            </a>
        </div>
    <%end%>
    
    <a href='/new'><span class="badge badge-danger">예약 신청</span></a><br>
</div>